*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #4d2200;
    background: linear-gradient(black,#4d2200 );
}

header{
    background-color: #441e01;
    color: rgb(238, 214, 162);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-inline: 2vw 5vw;
    position: fixed;
    width: 100vw;
    z-index: 999;
    top: 0;
}

header .barraPesquisa{
    background: transparent;
    width: 25vw;
    height: 5vh;
    border-radius: 10px;
    border: 1.5px solid white;
    padding: 2px 2px 2px 15px;
    font-size: 1rem;
}

header input::placeholder{
    color: rgba(255, 255, 255, 0.541);
}

header .btn-entrar{
    padding: 7px 20px;
    border: 1.5px solid white;
    border-radius: 3px;
    color: inherit;
    text-decoration: none;
    color: white;
}

main{
    margin-top: 8vh;
    padding: 40px 20px;
}

.cCarrosseis{
    display: flex;
    flex-direction: column;
    color: white;
}

.carrossel .filmes-track {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.itemFilme{
    flex: 0 0 auto;
    width: 180px;
    scroll-snap-align: start;
    text-align: center;
    height: 260px;
}

.itemFilme .imgFilme {
    width: 100%;
    height: 240px;
    overflow: hidden;
    border-radius: 6px;
    background: #222;
}

.itemFilme .imgFilme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.itemFilme p{
    color: white;
    text-align: center;
    margin: 5px;
}
