*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  position: absolute;
  right: 0;
  height: 100%;
  z-index: -999;
}


.cadastro{
  background: linear-gradient(to right, black 40%, rgba(0, 0, 0, 0));
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 5vw;
  flex-direction: column;

  .tt{
    color: #811818;
    margin-bottom: 30px;
    font-size: 3rem;
    width: fit-content;
  }

  form{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80vw;
    max-width: 350px;
    gap: 2vh;

    .email, .senha, .usuario {
      display: flex;
      flex-direction: column; /**/
      color: white;
      font-weight: 600;
      gap: 10px;

      label{
        padding-left: 5px;
      }

      input{
        height: 45px;
        border-radius: 5px;
        border: solid 1px #757575;
        background-color: #2c2c2c;
        padding-inline: 5px;
      }

      a{
        text-align: end;
        color: inherit;
        text-decoration: none;
        font-weight: 200;
        font-size: 0.8rem;
        margin-right: 10px;
      }

      a:hover{
        color: #fcb0b0;
      }
    }

    .btn-cadastrar{
      background-color: #811818;
      border-radius: 5px;
      border: none;
      color: white;
      height: 50px;
      font-size: 1rem;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    .btn-entrar:hover{
      background-color: #5a1212;
    }

    p{
      text-align: center;
      color: white;
      
      a{
        color: #811818;
        text-decoration: none;
      }

      a:hover{
        color: #883131;
      }
    }
  }
}

@media (max-width: 500px){

  .cadastro{
    background: rgba(0, 0, 0, 0.774);
    align-items: center;
    width: 100vw;

    .tt{
      font-size: clamp(2rem, 6vw, 3rem);
    }
  }
}